/* .result{
    height: 1rem;
    border: 1px black solid;
}
.input{
    height: 1rem;
    border: 1px black solid;
} */
body {
  background-color: #415a77;
}
.calculator-container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.calculator {
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
}

.clear,
.plus,
.minus,
.equals {
  grid-column-start: 4;
}

.clear {
  grid-row-start: 2;
}

.plus {
  grid-row-start: 3;
}

.minus {
  grid-row-start: 4;
}

.equals {
  grid-row-start: 5;
}

.star,
.slash,
.zero {
  grid-row-start: 5;
}

.star {
  grid-column-start: 1;
}

.slash {
  grid-column-start: 3;
}
.zero {
  grid-column-start: 2;
}

.one,
.two,
.three {
  grid-row-start: 4;
}

.four,
.five,
.six {
  grid-row-start: 3;
}

.seven,
.eight,
.nine {
  grid-row-start: 2;
}

.output {
  align-self: start;
  grid-row-start: 1;
}

.input {
  width: 19.5rem;
}
